@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body {
	font-family: 'Lato:', sans-serif;
}

.parallax-window {
    min-height: 200px;
	margin-left: -20px;
	margin-right: -20px;
    background: transparent;
}

.navbar {
	background-color: #1D62F0;
	padding: 3px;
	border-bottom-color: #1D62F0;
}

#btntop {
	border-color: #F7F7F7;
	border-width: 3px;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

#btntop:hover {
	border-color: #1D62F0;
	background-color: #1D62F0;
}

.fa-check {
	color: #4CD964;
}

.fa-times {
	color: #FF1300;
}

#name {
	color: #F7F7F7;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
}

#nav {
	color: #F7F7F7;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

#jtext {
	color: #F7F7F7;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-shadow: 1px 3px #000000;
	padding-bottom: 20px;
}

.jumbotron {
	background: transparent;
	padding-top: 150px;
	padding-bottom: 250px;
}

#feat {
	margin-top: -31px;
	padding-top: 100px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

#feathead {
	color: #1D62F0;
	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

#feattext {
	padding-top: 30px;
	padding-bottom: 100px;
}

#canhead {
	color: #1D62F0;
	margin-top: 100px;
	margin-bottom: 30px;
	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

#check {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;
}

#more {
	padding-bottom: 100px;
}

#bot {
	margin-top: 100px;
	margin-bottom: 100px;
}

#bothead {
	color: #1D62F0;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

#btnbot {
	color: #1D62F0;
	border-color: #1D62F0;
	border-width: 3px;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

#btnbot:hover {
	color: #F7F7F7;
	border-color: #F7F7F7;
	border-width: 3px;
	background-color: #1D62F0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

#silo {
	margin-top: 150px;
	margin-left: 225px;
	margin-right: 225px;
	box-shadow: 0px 0px 1px #1D62F0;
}

#silohead {
	margin-right: 75px;
	margin-left: 75px;
	color: #1D62F0;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
	padding-bottom: 30px;
}

#log {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 17px;
	padding: 10px;
	padding-bottom: 50px;
}

#sign {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 17px;
	padding: 10px;
	padding-bottom: 30px;
}

button {
	color: #F7F7F7;
	background-color: #1D62F0;
	border-bottom-width: -1px;
	border-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 20px;
}

button:hover {
	color: #1D62F0;
	background-color: transparent;
}